<template>
    <div id="LoginModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #2B333E;">
                    <h3 class="modal-title text-center" id="exampleModalLongTitle" style="font-weight: bolder; color: white">Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="" id="loginInForm">

                    <div class="modal-body">
                        <div v-show="showError" class="alert alert-danger text-center" role="alert">
                            Invalid Email or Password
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label text-md-right">Email</label>
                            <input v-model="email" placeholder="Enter Email" type="email" class="form-control" name="email" value="" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label text-md-right">Password</label>
                            <input v-model="password" placeholder="Enter Password" type="password" class="form-control" name="password" required>
                        </div>

                        <div class="form-group" style="display: flex; flex-direction: column;align-items: flex-start;">
                            <div class="checkbox">
                                <label>
                                    <input v-model="remember" type="checkbox" name="remember"> Remember me
                                </label>
                            </div>
                            <a class="btn btn-link" href="">
                                Forgot Password ?
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" @click.prevent="attemptLogin" :disabled="!IsValidLogin">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoginComponent",
        data(){
          return{
                email:'',
                password:'',
              remember:true,
              showError:false
          };
        },
        methods:{
            emailIsValid()
                {
                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email))
                    {
                        return (true)
                    }else{
                        return false;
                    }

                },
            attemptLogin(){
                var data = $('#loginInForm').serialize();

                axios.post('/loginUser',{
                    email:this.email,password:this.password,remember:this.remember
                }).then((resp)=>{
                    if(resp.data.length > 0){
                        location.replace(resp.data);
                    }else{
                       this.showError = true;
                    }
                }).catch((error)=>{
                    console.log(this.error);
                })
            }

        },
        computed:{
            IsValidLogin(){
                return this.emailIsValid() && this.password;
            }
        }

    }
</script>

<style scoped>

</style>