
.top-flex-box{
    display: flex;
    margin: 2rem 1rem;
    align-items: flex-end;
}
.top-flex-box > *{
    margin-right: 1rem;
}
.icon__plus{
    margin: 1rem;
    margin-left: 2rem;
}
.icon__plus > span{
    margin-left: .4rem;
}
.custom-alerts{
    position: absolute;
    top:10rem;
    right: 2rem;
    width: 20rem;
    z-index: 9999;
    background-color: rgb(66, 244, 95);
}

