<template>
    <div id="custom-tips" v-show="displayAlert">
        <button type="button" @click="close" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="__header">
           <h2> <span class="fa fa-lightbulb-o"></span>&nbsp;<strong>Tip</strong></h2>

        </div>
        <div class="__body">
            <p class="lead">Please select the Start and End dates to display a custom reports in the
                <strong>custom tab</strong>
                </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomTip",
        data(){
          return {
              displayAlert:false,
          }
        },

        mounted(){
            setTimeout(()=>{
                this.displayAlert = true;
                $('#custom-tips').fadeIn(1000);
            },4000);
        },
        methods:{
            close:() => {
                $('#custom-tips').fadeOut(1000);
                this.displayAlert = false;
            }

        }
    }
</script>

<style scoped>
    #custom-tips{
        position: absolute;
        right: 10%;
        z-index: 2000;
        top: 3%;
        padding: 5px 5px;
        width: 300px;
        background-color: #6ecadc;
        border-radius: 5%;
    }
    .__header h2 > span{
        font-size: 40px;
        color: #00aa00;
    }

</style>