<template>
   <div>
       <div class="row">
           <div v-for="(item,index) in value" :key="index" :id="index">
               <div class="col-md-5">
                   <div class="form-group">
                       <label for="">Item Name</label>
                       <input type="text" name="name[]" class="form-control" required>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="form-group">
                       <label for="">Quantity</label>
                       <input type="number" name="quantity[]" class="form-control" :required="value > 1">
                   </div>
               </div>
               <div class="col-md-1"  v-show="value > 1">
                   <div class="custom-styles">
                       <label for=""  style="visibility: hidden;" class="control-label">Hello</label>
                       <a href="" @click.prevent="removeEL(index)" :id="index" :class="{hide:index == 0}" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                   </div>
               </div>
           </div>

           <div class="col-md-3" >
               <div class="custom-styles">
                   <label for="" style="visibility: hidden;" class="control-label">Hello</label>
                   <a  v-on:click="addMore" class="btn btn-success">Add More ?</a>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="form-group col-md-12">
               <label class="control-label" for="">Description</label>
               <textarea style="resize: none;" class="form-control" type="file" name="description"></textarea>
               <br/>
               <button type="submit" class="btn btn-primary pull-right">Add Item</button>
           </div>
       </div>

   </div>

</template>

<script>
    export default {
        name: "DynamicForm",
        data: function(){
          return {
              value : 1,
              track: 0,
          };
        },
        methods:{
            addMore(){
                this.value ++;
            },
            removeEL(index){
                if(index > 0)
                    $('#'+index).remove();
                this.value --;

            }
        }

    }
</script>

<style scoped>
    .custom-styles{
        display: flex;
        flex-direction: column;
    }
</style>