
.img-circle{
  border-radius:50%;
}
.collection-headings{
  font-size:20px;
  font-weight:bold;
}
.navcolor{
  background-color:white;
  heigth:50px;
}
body{
  background-color:#e9e9e9;
}
.locations-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div{
    margin: 1rem;
  }
}

a:hover{
  cursor:pointer;
}